# dependencies
node_modules/
.npm-cache/

# next.js
.next/
out/

# env files
.env.local
.env*.local

# debug
npm-debug.log*

# misc
.DS_Store
*.pem

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# temporary files
constraints.sql
